In [205]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv(r"C:\Users\מיכאל\Desktop\air bnb germany project\AirbnbBerlin.csv", encoding='latin1')
print(df.head())

C:\Users\מיכאל\AppData\Local\Temp\ipykernel_4684\3905190139.py:4: DtypeWarning: Columns (19,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\מיכאל\Desktop\air bnb germany project\AirbnbBerlin.csv", encoding='latin1')

   index   Review ID review_date  Reviewer ID Reviewer Name  \
0      0  58660447.0  01/03/2016   14876562.0        Dennis
1      1         NaN         NaN          NaN           NaN
2      2  58663795.0  01/03/2016   49367757.0       Andreea
3      3  59003619.0  01/05/2016   46694292.0         Sasha
4      4  66845661.0    03-25-16   54542819.0        Yohana

                                            Comments  Listing ID  \
0  Very nice, clean appartement! Josh was really ...    10002699
1                                                NaN    10002922
2  Aki is really nice and friendly. We had an ama...    10006647
3  Aki is a very nice dude with a clean place in ...    10006647
4  Aki's place was easy to find and located in th...    10006647

                             Listing URL                       Listing Name  \
0  https://www.airbnb.com/rooms/10002699  Trendy and peaceful KreuzkÃÂ¶lln
1  https://www.airbnb.com/rooms/10002922    Sehr zentrale Wohnung in Berlin
2  https://www.airbnb.com/rooms/10006647        Very central and very quite
3  https://www.airbnb.com/rooms/10006647        Very central and very quite
4  https://www.airbnb.com/rooms/10006647        Very central and very quite

    Host ID  ... Last Review Overall Rating Accuracy Rating  \
0  44696672  ...  01/03/2016          100.0             8.0
1  45848709  ...         NaN            NaN             NaN
2  40791092  ...  02/12/2017           92.0             9.0
3  40791092  ...  02/12/2017           92.0             9.0
4  40791092  ...  02/12/2017           92.0             9.0

  Cleanliness Rating Checkin Rating Communication Rating Location Rating  \
0               10.0            6.0                 10.0            10.0
1                NaN            NaN                  NaN             NaN
2                8.0            9.0                 10.0            10.0
3                8.0            9.0                 10.0            10.0
4                8.0            9.0                 10.0            10.0

  Value Rating Instant Bookable Business Travel Ready
0         10.0                f                     f
1          NaN                f                     f
2          9.0                f                     f
3          9.0                f                     f
4          9.0                f                     f

[5 rows x 47 columns]

In [206]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456961 entries, 0 to 456960
Data columns (total 47 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   index                  456961 non-null  int64
 1   Review ID              452805 non-null  float64
 2   review_date            452805 non-null  object
 3   Reviewer ID            452805 non-null  float64
 4   Reviewer Name          452805 non-null  object
 5   Comments               452595 non-null  object
 6   Listing ID             456961 non-null  int64
 7   Listing URL            456961 non-null  object
 8   Listing Name           456756 non-null  object
 9   Host ID                456961 non-null  int64
 10  Host URL               456961 non-null  object
 11  Host Name              456913 non-null  object
 12  Host Since             456913 non-null  object
 13  Host Response Time     398194 non-null  object
 14  Host Response Rate     398194 non-null  object
 15  Is Superhost           456913 non-null  object
 16  neighbourhood          456961 non-null  object
 17  Neighborhood Group     456961 non-null  object
 18  City                   456928 non-null  object
 19  Postal Code            449258 non-null  object
 20  Country Code           456961 non-null  object
 21  Country                456961 non-null  object
 22  Latitude               456961 non-null  float64
 23  Longitude              456961 non-null  float64
 24  Is Exact Location      456961 non-null  object
 25  Property Type          456961 non-null  object
 26  Room Type              456961 non-null  object
 27  Accomodates            456961 non-null  int64
 28  Bathrooms              456018 non-null  float64
 29  Bedrooms               456244 non-null  float64
 30  Beds                   456871 non-null  float64
 31  Square Feet            28675 non-null   float64
 32  Price                  456961 non-null  object
 33  Guests Included        456961 non-null  int64
 34  Min Nights             456961 non-null  int64
 35  Reviews                456961 non-null  int64
 36  First Review           452805 non-null  object
 37  Last Review            452805 non-null  object
 38  Overall Rating         452242 non-null  float64
 39  Accuracy Rating        452209 non-null  float64
 40  Cleanliness Rating     452211 non-null  float64
 41  Checkin Rating         452188 non-null  float64
 42  Communication Rating   452205 non-null  float64
 43  Location Rating        452186 non-null  float64
 44  Value Rating           452185 non-null  float64
 45  Instant Bookable       456961 non-null  object
 46  Business Travel Ready  456961 non-null  object
dtypes: float64(15), int64(7), object(25)
memory usage: 163.9+ MB

In [207]:
def get_column_types(df):
    numeric_columns = df.select_dtypes(include=['number']).columns.tolist()
    object_columns = df.select_dtypes(include=['object']).columns.tolist()
    return numeric_columns, object_columns

In [208]:
numeric_columns, object_columns = get_column_types(df)
print("# numeric_columns \n")
print(numeric_columns)
print("\n #object_columns \n")
print(object_columns)

# numeric_columns

['index', 'Review ID', 'Reviewer ID', 'Listing ID', 'Host ID', 'Latitude', 'Longitude', 'Accomodates', 'Bathrooms', 'Bedrooms', 'Beds', 'Square Feet', 'Guests Included', 'Min Nights', 'Reviews', 'Overall Rating', 'Accuracy Rating', 'Cleanliness Rating', 'Checkin Rating', 'Communication Rating', 'Location Rating', 'Value Rating']

 #object_columns

['review_date', 'Reviewer Name', 'Comments', 'Listing URL', 'Listing Name', 'Host URL', 'Host Name', 'Host Since', 'Host Response Time', 'Host Response Rate', 'Is Superhost', 'neighbourhood', 'Neighborhood Group', 'City', 'Postal Code', 'Country Code', 'Country', 'Is Exact Location', 'Property Type', 'Room Type', 'Price', 'First Review', 'Last Review', 'Instant Bookable', 'Business Travel Ready']

In [209]:
unique_values = {col: df[col].nunique() for col in object_columns}

# Display the number of unique values for each object column
print("\nNumber of unique values in each object column:")
for col, unique_count in unique_values.items():
    print(f"{col}: {unique_count}")

Number of unique values in each object column:
review_date: 3000
Reviewer Name: 57372
Comments: 437539
Listing URL: 23536
Listing Name: 22837
Host URL: 19772
Host Name: 6184
Host Since: 3085
Host Response Time: 4
Host Response Rate: 75
Is Superhost: 2
neighbourhood: 93
Neighborhood Group: 12
City: 59
Postal Code: 396
Country Code: 3
Country: 3
Is Exact Location: 2
Property Type: 35
Room Type: 3
Price: 528
First Review: 2382
Last Review: 1464
Instant Bookable: 2
Business Travel Ready: 1

In [210]:
# Columns to remove because too much unique 
columns_to_remove = [
    'review_date', 'Reviewer Name', 'Listing URL', 'Listing Name', 'Host Since', 
     'Host Name' , 'Review ID' , 'Listing ID' , 'Host URL' , 'Reviewer ID' , 'Host ID' , 'Host Since' , 'First Review','Last Review'
    , 'Business Travel Ready'
]

# Remove the specified columns
df_reduce = df.drop(columns=columns_to_remove)

In [211]:
df_reduce.head()

,index,Comments,Host Response Time,Host Response Rate,Is Superhost,neighbourhood,Neighborhood Group,City,Postal Code,Country Code,...,Min Nights,Reviews,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable
0,0,"Very nice, clean appartement! Josh was really ...",NaN,NaN,f,NeukÃÂ¶lln,NeukÃÂ¶lln,Berlin,12047.0,DE,...,1,1,100.0,8.0,10.0,6.0,10.0,10.0,10.0,f
1,1,NaN,NaN,NaN,f,Prenzlauer Berg,Pankow,Berlin,10405.0,DE,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f
2,2,Aki is really nice and friendly. We had an ama...,within a few hours,100%,f,Mitte,Mitte,Berlin,10178.0,DE,...,1,20,92.0,9.0,8.0,9.0,10.0,10.0,9.0,f
3,3,Aki is a very nice dude with a clean place in ...,within a few hours,100%,f,Mitte,Mitte,Berlin,10178.0,DE,...,1,20,92.0,9.0,8.0,9.0,10.0,10.0,9.0,f
4,4,Aki's place was easy to find and located in th...,within a few hours,100%,f,Mitte,Mitte,Berlin,10178.0,DE,...,1,20,92.0,9.0,8.0,9.0,10.0,10.0,9.0,f

In [212]:
print("Host Response Time value counts:")
print(df_reduce["Host Response Time"].value_counts())
df_reduce = df_reduce.drop(columns="Host Response Time")

Host Response Time value counts:
Host Response Time
within an hour        275309
within a few hours     72144
within a day           44929
a few days or more      5812
Name: count, dtype: int64

In [213]:
print("Country  \n " , df["Country"].value_counts())
df_filtered = df_reduce[~df_reduce['Country'].isin(['United Kingdom', 'Netherlands'])]

Country
  Country
Germany           456959
United Kingdom         1
Netherlands            1
Name: count, dtype: int64

In [214]:
df_filtered["City"].value_counts()

City
Berlin                                   454246
Berlin (Kreuzberg)                          375
Berlin-Wilmersdorf                          227
Berlin-Mitte                                212
Berlin - Mitte                              177
KÃÂ¶penick                                 171
Berlin, friedrichshain                      165
Prenzlauer Berg                             137
Wannsee                                     120
Friedrichshain                              115
Berlin-Treptow                              111
Kleinmachnow                                 87
Berlin- Charlottenburg                       71
Baseler StraÃÂe 91 A,12205 Berlin          64
Berlin - SchÃÂ¶neberg                       60
Baseler StraÃÂe 91 A, 12205 Berlin         55
Mitte                                        53
.                                            47
10999 Berlin                                 47
Woltersdorf                                  41
Berlin/Steglitz                              33
Mitte/Kreuzberg                              31
Berlin, Berlin, DE                           24
Erkner                                       20
Hoppegarten                                  16
Berlin Prenzlauer Berg                       16
berlin                                       16
Berlin / Kleinmachnow                        16
ÃÂÃÂµÃÂÃÂ»ÃÂ¸ÃÂ½                     15
SchÃÂ¶neberg                                13
Berlin, Charlottenburg                       12
Weissensee, Berlin                           11
Berlin Friedrichshain                        11
Berlim                                       11
Berlino                                      11
Berlin-Tiergarten                             9
Kreuzberg, Berlin                             8
*                                             8
Weissensee                                    8
BerlÃÂ­n                                     8
Mitte/Tiergarten                              7
Berlin NeukÃÂ¶lln                            6
Berlin-Kreuzberg                              5
Wilmersdorf                                   4
Berlin-Friedrichshain                         4
Potsdam                                       3
Berlin-Wedding                                3
Berlin (Wedding)                              2
Berlin-NeukÃÂ¶lln                            2
ÃÂÃÂµÃÂÃÂ¿ÃÂ»ÃÂ¯ÃÂ½ÃÂ¿              2
Hennigsdorf                                   2
Berlin-Zehlendorf                             1
Zeuthen                                       1
Ã¦ÂÂÃ¦ÂÂ                                  1
Berlin Mitte                                  1
Berlin, SchÃÂ¶neberg                         1
Charlottenburg                                1
MÃÂ¼hlenbecker Land                          1
Eichwalde                                     1
Name: count, dtype: int64

In [215]:

def filter_and_standardize_cities(df, column_name):
    # Standardize the city names to 'Berlin' if they contain 'Berlin'
    df = df.copy()
    
    # Convert all values to string to avoid errors with non-string types
    df.loc[:, column_name] = df[column_name].astype(str)
    
    # Standardize the city names to 'Berlin' if they contain 'Berlin'
    df.loc[:, column_name] = df[column_name].apply(lambda x: 'Berlin' if 'berlin' in x.lower() else x)
    
    # Filter to keep only rows where the city name is now 'Berlin'
    df = df[df[column_name] == 'Berlin']
    
    return df


# Apply the function to standardize and filter
df_filtered = filter_and_standardize_cities(df_filtered, 'City')

# Print the result
print(df_filtered["City"].value_counts()) # only berlin

City
Berlin    456002
Name: count, dtype: int64

In [216]:
df_filtered[["neighbourhood", "Neighborhood Group"]]

          neighbourhood        Neighborhood Group
0           NeukÃÂ¶lln               NeukÃÂ¶lln
1       Prenzlauer Berg                    Pankow
2                 Mitte                     Mitte
3                 Mitte                     Mitte
4                 Mitte                     Mitte
...                 ...                       ...
456956   Friedrichshain  Friedrichshain-Kreuzberg
456957   Friedrichshain  Friedrichshain-Kreuzberg
456958          Wedding                     Mitte
456959          Wedding                     Mitte
456960          Wedding                     Mitte

[456002 rows x 2 columns]

In [217]:
# Remove the specified columns
df_filtered = df_filtered.drop(columns="Neighborhood Group")

In [218]:
df_filtered.head()

,index,Comments,Host Response Rate,Is Superhost,neighbourhood,City,Postal Code,Country Code,Country,Latitude,...,Min Nights,Reviews,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable
0,0,"Very nice, clean appartement! Josh was really ...",NaN,f,NeukÃÂ¶lln,Berlin,12047.0,DE,Germany,52.49234,...,1,1,100.0,8.0,10.0,6.0,10.0,10.0,10.0,f
1,1,NaN,NaN,f,Prenzlauer Berg,Berlin,10405.0,DE,Germany,52.53292,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f
2,2,Aki is really nice and friendly. We had an ama...,100%,f,Mitte,Berlin,10178.0,DE,Germany,52.52134,...,1,20,92.0,9.0,8.0,9.0,10.0,10.0,9.0,f
3,3,Aki is a very nice dude with a clean place in ...,100%,f,Mitte,Berlin,10178.0,DE,Germany,52.52134,...,1,20,92.0,9.0,8.0,9.0,10.0,10.0,9.0,f
4,4,Aki's place was easy to find and located in th...,100%,f,Mitte,Berlin,10178.0,DE,Germany,52.52134,...,1,20,92.0,9.0,8.0,9.0,10.0,10.0,9.0,f

In [231]:
def remove_non_alphanumeric(text):
    if isinstance(text, str):  # Check if the text is a string
        # Use regex to keep letters, numbers, hyphens, and spaces
        return re.sub(r'[^a-zA-Z0-9- ]', '', text)
    return text  # Return non-string values unchanged



# Apply the function to all elements in the DataFrame
df_cleaned = df_filtered.apply(lambda col: col.map(remove_non_alphanumeric))

In [235]:
df_cleaned.head()

,index,Comments,Host Response Rate,Is Superhost,neighbourhood,City,Postal Code,Country Code,Country,Latitude,...,Min Nights,Reviews,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable
0,0,Very nice clean appartement Josh was really gr...,NaN,f,Neuklln,Berlin,12047.0,DE,Germany,52.49234,...,1,1,100.0,8.0,10.0,6.0,10.0,10.0,10.0,f
1,1,NaN,NaN,f,Prenzlauer Berg,Berlin,10405.0,DE,Germany,52.53292,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f
2,2,Aki is really nice and friendly We had an amaz...,100,f,Mitte,Berlin,10178.0,DE,Germany,52.52134,...,1,20,92.0,9.0,8.0,9.0,10.0,10.0,9.0,f
3,3,Aki is a very nice dude with a clean place in ...,100,f,Mitte,Berlin,10178.0,DE,Germany,52.52134,...,1,20,92.0,9.0,8.0,9.0,10.0,10.0,9.0,f
4,4,Akis place was easy to find and located in the...,100,f,Mitte,Berlin,10178.0,DE,Germany,52.52134,...,1,20,92.0,9.0,8.0,9.0,10.0,10.0,9.0,f